<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

	<connectionStrings>
		<add name="AQMSDBCONN" connectionString="Server=DESKTOP-GDDIOEN; Database=AQMSNT; User Id=sa; password=sauser" providerName="System.Data.SqlClient"/>
		<add name="AQMSNTCONN2" connectionString="Server=DESKTOP-GDDIOEN; Database=AQMSNT; User Id=sa; password=sauser" providerName="System.Data.SqlClient"/>
		<add name="AQMSDBCONNCTE" connectionString="Server=DESKTOP-GDDIOEN; Database=AQMSNT; User Id=sa; password=sauser" providerName="System.Data.SqlClient"/>
		<add name="GLOBAL_CONN_STR" connectionString="Server=DESKTOP-GDDIOEN; Database=AQMSNT; User Id=sa; password=sauser" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
